.footer-container {
  height: 80px;
  // background-color: #111;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    line-height: 80px;
    color: #ccc;
    font-size: 24px;
  }
}