<section class="about-container">
  <div class="about-content">
    <div class="about-icon">
      <!-- <a href="https://twitter.com/andmohiko">
        <img src="../assets/profilepich.png" alt="profilepic" />
      </a> -->
    </div>
    <div class="about-profile">
      <h1>about me</h1>
      <h2>Profile</h2>
      <pre>
        Name    : andmohiko
        Grade    : Masters course in Computer Science
        MBTI16 : INTJ
      </pre>
      <h2>Skills</h2>
      <pre>
        Python                     ☆☆☆
        Machine Learning   ☆☆☆
        NLP                          ☆☆☆
        Vue.js / Nuxt.js      ☆☆
        Typescript              ☆☆
        Firebase                  ☆
        Git                            ☆☆☆
      </pre>
      <h2>History</h2>
      <pre>
        TRUNK
        JXPress
        DMM.com
        OpenLogi
        AIESEC in Japan
      </pre>
    </div>
  </div>
</section>