.wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center
  height calc(100vh - 60px - 110px)


.keyvisual
  margin 30px
  border 1px
  border-radius 5px
  width 800px
  height 200px
  color #ffffff

  display flex
  flex-direction column
  justify-content center
  align-items center


.links
  img
    height 22px
    width 22px
    margin-right 25px
  
