<section class="work-container">
  <div class="work-content">
    <h1>works</h1>
    <div class="work-items">
      <div class="work-card transition">
        <a href="https://speakerdeck.com/andmohiko/wen-zhang-falsebekutoruhua">
          <img src="../../assets/sentenceembedding.png" alt="scentence embedding" />
        </a>
        <h2>文章のベクトル化と類似判定</h2>
      </div>

      <div class="work-card transition">
        <a href="https://qiita.com/andmohiko/items/e185cbb59d9c32e6dd6a">
          <img src="../assets/pokemondatascience2.png" alt="pokemon data science" />
        </a>
        <h2>ポケモンをデータ分析してみた</h2>
      </div>

      <div class="work-card transition">
        <a href="https://www.work-school.com/courses/5/">
          <img src="../../assets/ws-ds-min.png" alt="workschool data scientist course" />
        </a>
        <h2>オンライン学習サービスの教材</h2>
      </div>

      <div class="work-card transition">
        <a href="https://speakerdeck.com/andmohiko/predicting-categories-of-news-articles">
          <img src="../assets/categoryprediction.png" alt="categoryprediction" />
        </a>
        <h2>ニュース記事のカテゴリー分類</h2>
      </div>
    </div>
  </div>
</section>