.work-container
  height auto
  width 800px
  padding 30px
  display flex
  flex-direction column
  justify-content center
  align-items center
  color #ccc

.work-content
  height calc(100vh - 110px - 60px)
  width 100%
  background-color rgba(0, 0, 0, 0.2)
  border-radius 5px
  padding 1.2rem
  line-height 28px
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.3)
  h1
    font-weight bold
    font-size 2.2rem
    margin 1.5rem 0 4rem 0
    text-shadow 0 2px 5px rgba(255, 255, 255, 0.1)
  
  h2
    font-weight bold
    font-size 1.6rem
    margin-bottom 1.5rem
  
  h3
    font-size 1.2rem
    margin-bottom 20px
  
  pre
    font-size 1.1rem
    margin-bottom 3rem
  

.work-items
  height calc(100vh - 110px - 60px)
  width 100%
  background-color rgba(0, 0, 0, 0.4)
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
